# SETS

- Set, as a whole, is mutable though its elements are immutable.
- The elements in a set are non-repititive.
- There is no index attached to any element in a set, thus there is existence of indexing or slicing operation.

### CREATION

In [2]:
l=["Monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "Sunday"]
s=set(l)
print(s)

{'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'Monday', 'Sunday'}

### ACCESSING ELEMENTS IN A SET

In [3]:
for el in s:
    print(el, end=" ")

tuesday wednesday thursday friday saturday Monday Sunday

In [5]:
type(s)

set

### ADDING ITEMS TO A SET

In [7]:
s.add("DAYS")
print(s)

{'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'Monday', 'Sunday', 'DAYS'}

### REMOVING ITEMS FROM A SET

In [8]:
s.discard("DAYS")

In [9]:
print(s)

{'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'Monday', 'Sunday'}

## UNION

In [10]:
s1={1,2,3,4}
s2={3,4,5,6}
print(s1|s2)

{1, 2, 3, 4, 5, 6}

## INTERSECTION

In [11]:
s1={1,2,3,4}
s2={3,4,5,6}
print(s1&s2)

{3, 4}

## DIFFERENCE

In [13]:
s1={1,2,3,4}
s2={3,4,5,6}
print(s1-s2)
print(s2-s1)

{1, 2}
{5, 6}

## COMPARE

We can check if a given set is a subset or superset of another set. The result is True or False depending on the elements present in the sets.

In [15]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB  #subset
SupersetRes = DaysB >= DaysA  #superset
print(SubsetRes)
print(SupersetRes)

True
True

In [16]:
print(s1<=s2)
print(s2>=s1)

False
False